@media only screen and (max-width: 742px) {
    .searchbar {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        background-color: whitesmoke;
    }
}

@media only screen and (max-width: 552px) {
    #searchbar form{
        width: 100%;
    }
}
@media only screen and (max-width: 1384px) {
    .news_list {
        width: 90%;
    }
}

@media only screen and (max-width: 1062px) {
    .news_box {
        height: 250px;
        background-color: rgb(250, 250, 250);
        box-shadow: none;
    }
}

@media only screen and (max-width: 590px) {
    .news_box div  {
        width: 50%;
    }
    
    .news_box h1 {
        text-align: left;
    }

    .taglist1 {
        display: none;
    }
}
.searchbar {
    width: 600px;
    height: 100px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 10px 0px 80px rgba(0, 0, 0, 0.195);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1s ease 0s 1 slidefromtop;
}

#searchbar form{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchbar_img {
    margin-left: 10px;
    width: 10%;
}

#searchbar_text {
    font-family: "Maitree", serif;
    font-weight: 400;
    background: none;
    border: none;
    font-size: 20px;
    width: 90%;
}
.taglist1 {
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    animation: 1s ease 0s 1 slidefromtop;
    font-family: "Maitree", serif;
    gap: 10px;
}

.taglist1 div {
    font-size: 10px;
    background-color: rgb(255, 200, 69);
    height: 15px;
    width: auto;
    overflow: hidden;
    color: black;
    padding: 10px;
}
.news_list {
    margin: auto;
    margin-bottom: 30px;
    padding: 3%;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.news_box {
    position: relative;
    width: 100%;
    height: 200px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 10px 0px 80px rgba(215, 215, 215, 0.415);
    overflow: hidden;
    z-index: 2;
    background-color: rgb(255,255,255);
    display: flex;
}

.news_box img {
    width: 40%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
}

.news_box div {
    margin-left: 1%;
    font-family: "Maitree", serif;
    width: 57%;
    padding: 0.5%;
}

.news_box div h1 {
    color: rgb(29,79,145);
    font-size: 25px;
    animation: 1s ease 0s 1 slidefromtop;
}

.news_box div h1 a {
    transition: all ease 250ms;
}

.news_box div h1 a:hover {
    color: rgb(173, 132, 31);
    transition: all ease 250ms;
}

.news_box div p {
    font-size: 15px;
    animation: 1s ease 0s 1 slidefromtop;
}
